In [2]:
import pandas as pd
import numpy as np

In [6]:
house_df = pd.read_csv("clean_house_data.csv", index_col="id")


df = house_df.loc[:, house_df.isnull().mean() < .8]
df

,Zip,Price,Price of square meter,Building Cond. values,Number of facades,Number of rooms,Living area,Furnished,Kitchen values,Surface of the land,Primary energy consumption,Energy_classes,Terrace,Terrace surface,Garden,Garden surface,Open fire,Swimming pool
id,,,,,,,,,,,,,,,,,,
10597213,4000,380000,1759.26,4.0,4.0,5.0,216.0,0.0,1.0,2100.0,335.0,4,0,0.0,1,1800.0,1.0,0.0
10594958,4400,315000,1730.77,2.0,4.0,3.0,182.0,0.0,2.0,1580.0,480.0,3,0,0.0,1,1000.0,0.0,0.0
10595263,1420,750000,2737.23,4.0,4.0,3.0,274.0,0.0,3.0,1567.0,157.0,6,1,62.0,1,1428.0,1.0,0.0
10593759,4020,179000,1598.21,3.0,2.0,3.0,112.0,0.0,1.0,135.0,304.0,4,1,100.0,1,35.0,0.0,0.0
10593565,9600,209000,1583.33,3.0,2.0,3.0,132.0,0.0,3.0,180.0,252.0,5,1,20.0,1,80.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10508973,3540,320000,2237.76,2.0,4.0,3.0,143.0,0.0,NaN,667.0,383.0,4,1,NaN,0,0.0,0.0,0.0
10514297,9240,320000,2560.00,3.0,3.0,2.0,125.0,0.0,1.0,144.0,310.0,4,1,NaN,0,0.0,0.0,0.0
10562843,9300,324000,2571.43,1.0,NaN,3.0,126.0,0.0,1.0,679.0,527.0,2,0,0.0,0,0.0,0.0,0.0
10523249,1500,325000,1900.58,NaN,2.0,5.0,171.0,0.0,NaN,294.0,NaN,0,0,0.0,0,0.0,0.0,0.0
10404695,8500,329000,1530.23,3.0,2.0,4.0,215.0,0.0,1.0,54.0,96.0,7,1,10.0,1,NaN,0.0,0.0

In [5]:
house_df

,Zip,Price,Price of square meter,Building Cond. values,Number of facades,Number of rooms,Living area,Furnished,Kitchen values,Surface of the land,Primary energy consumption,Energy_classes,Terrace,Terrace surface,Garden,Garden surface,Open fire,Swimming pool
id,,,,,,,,,,,,,,,,,,
10597213,4000,380000,1759.26,4.0,4.0,5.0,216.0,0.0,1.0,2100.0,335.0,4,0,0.0,1,1800.0,1.0,0.0
10594958,4400,315000,1730.77,2.0,4.0,3.0,182.0,0.0,2.0,1580.0,480.0,3,0,0.0,1,1000.0,0.0,0.0
10595263,1420,750000,2737.23,4.0,4.0,3.0,274.0,0.0,3.0,1567.0,157.0,6,1,62.0,1,1428.0,1.0,0.0
10593759,4020,179000,1598.21,3.0,2.0,3.0,112.0,0.0,1.0,135.0,304.0,4,1,100.0,1,35.0,0.0,0.0
10593565,9600,209000,1583.33,3.0,2.0,3.0,132.0,0.0,3.0,180.0,252.0,5,1,20.0,1,80.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10508973,3540,320000,2237.76,2.0,4.0,3.0,143.0,0.0,NaN,667.0,383.0,4,1,NaN,0,0.0,0.0,0.0
10514297,9240,320000,2560.00,3.0,3.0,2.0,125.0,0.0,1.0,144.0,310.0,4,1,NaN,0,0.0,0.0,0.0
10562843,9300,324000,2571.43,1.0,NaN,3.0,126.0,0.0,1.0,679.0,527.0,2,0,0.0,0,0.0,0.0,0.0
10523249,1500,325000,1900.58,NaN,2.0,5.0,171.0,0.0,NaN,294.0,NaN,0,0,0.0,0,0.0,0.0,0.0
10404695,8500,329000,1530.23,3.0,2.0,4.0,215.0,0.0,1.0,54.0,96.0,7,1,10.0,1,NaN,0.0,0.0